.container {
    position: absolute;
    top:100px;
    left:200px;
    right: 200px;
}

.black_square {
    float:left;
    /* background-color: black; */
    height: 100.1px;
    /* border-style: solid; */
    width:105px;
}

.white_square {
    border-style: solid;
    height: 100px;
    float:left;
    width:100px;
}

img {
    height: 100px;
    float:left;
    width:100px;
}